framework >= net452

source https://api.nuget.org/v3/index.json
git https://github.com/andburn/hdt-plugin-common.git master Packages: /Common.NuPkg/

nuget HDT.Plugins.Common
nuget Ookii.Dialogs >= 1.0
nuget Costura.Fody 1.3.3
nuget MvvmLightLibs >= 5.3
nuget Newtonsoft.Json 6.0.8 copy_local: false
nuget MahApps.Metro 1.1.2.0 copy_local: false

group Test
	source https://api.nuget.org/v3/index.json
	
	nuget NUnit 3.5.0
	nuget NUnit.ConsoleRunner 3.5.0
	nuget Moq
	nuget coveralls.io