<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net452" />
  <package id="Codecov" version="1.0.3" targetFramework="net452" />
  <package id="CommonServiceLocator" version="2.0.1" targetFramework="net452" />
  <package id="Moq" version="4.7.142" targetFramework="net452" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="Ninject.MockingKernel" version="3.2.2.0" targetFramework="net452" />
  <package id="Ninject.MockingKernel.Moq" version="3.2.2.0" targetFramework="net452" />
  <package id="NUnit" version="3.8.1" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net452" />
  <package id="OpenCover" version="4.6.519" targetFramework="net452" />
  <package id="ReportGenerator" version="3.0.2" targetFramework="net452" />
</packages>