<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HDT.Plugins.EndGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HDT.Plugins.EndGame.Properties.Settings>
            <setting name="OutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="UseAdvancedShot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumberOfImages" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="WasNoteDialogOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WasNoteDialogDelayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WasNoteEnterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DelayBetweenShots" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="RecordArena" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecordBrawl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecordCasual" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecordFriendly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecordOther" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecordPractice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecordRanked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileNamePattern" serializeAs="String">
                <value>{PlayerName} ({PlayerClass}) VS {OpponentName} ({OpponentClass}) {Date:dd.MM.yyyy_HH.mm}</value>
            </setting>
            <setting name="ScreenshotEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArchetypesEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoArchiveArchetypes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeletePreviouslyImported" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddArchetypeToNote" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseNoteWithEnter" serializeAs="String">
                <value>False</value>
            </setting>
        </HDT.Plugins.EndGame.Properties.Settings>
    </userSettings>
</configuration>